@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
  font-family: 'Pacifico', cursive;
  background-image: linear-gradient(to top, #7e61ba,#6895f7);
}

.wrapper{
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  height: 85vh;
  border: rounded;
  border-radius: 10px;
  background: #f5f5f5;
  box-shadow: 0px 13px 40px -13px rgba(100, 85, 189, 0.99);
  width: 80%;
  margin: 30px auto;
}

.title-container__title{
  font-family: 'Pacifico', cursive;
  margin-top: 10px;
  letter-spacing: 1.5px;
  font-size: 45px;
  line-height: 1.4;
}

.title-container__subtitle{
  margin-left: 25px;
  font-family: 'Work Sans', sans-serif;
  margin-top: 10px;
  font-weight: 100;
  letter-spacing: 1.2px;
  line-height: 1.5;
}

.title-container{
  height: 20vh;
  min-height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000;
}

.form-container{
  width: 90vh;
  border-radius: 15px;
  background-color: #edebeb;
  margin-left: 35px;
  padding-left: 30px;
  height: 65vh;
}

input[type="text"]{
  font-size: 19px;
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #925cff;
  width: 35%;
  padding-bottom: 4.5px;
  color:  #494c6b !important;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-top: 10px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #d9d9d9 inset;
  box-shadow: 0 0 0 30px #d9d9d9 inset;
  -webkit-text-fill-color: #494c6b!important;
}

button {
  border: 0;
  padding: 10px 20px;
  margin: 0 2px;
  cursor: pointer;
  border-radius: 2px;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 15px;
  background-color: #947eab;
  color: #ffffff !important;
  font-weight: 300;
}

button:active{
  outline: none;
}

.weather__info{
  width: 95%;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 200;
  border-radius: 5px;
  background-color: #513f69;
}

.weather__key{
  color: #ffffff !important;
  border-bottom: solid 1.5px rgba(163, 163, 163, 0.4);
  padding: 20px 0 20px 0;
  font-weight: 300;
}

.weather__key:last-child{
  border: 0;
}

.weather__value {
  color: #fff;
  font-weight: bold;
  text-transform: capitalize;
}

.weather__error{
  color: #fae8a7;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 300;
}

@media screen and (max-width: 700px){
  .title-container__title{
    font-size: 25px;
  }
  .title-container__subtitle {
    font-size: 18px;
  }
  .form-container {
    padding-top: 30px;
  }
  .weather__info {
    width: unset;
    font-size: unset;
  }
  .weather__key {
    padding: 4px 0 4px 0;
  }
  input[type="text"] {
    margin-bottom: 15px;
  }
  button {
    padding: 4px 10px;
  }
}

@media screen and (max-width: 500px) {
  .title-container__title {
    font-size: 25px;
  }
  .title-container__subtitle {
    font-size: 15px;
  }
  button {
    padding: 3px;
  }
}